                                         <!-- table -->

<section class="tables" dir="rtl">
  <h3>المواد الأولية اللازمه للأنتاج</h3>
  <div style="text-align: left;">
    <button class="btn btn-success">إدخال سجل جديد</button> 
    <button class="btn btn-success">تراجع</button>
  </div>
  <hr style="opacity: 0.1;margin-bottom: -10px;">
  <div class="tebles-inputs" style="overflow-x: scroll;">
      <div class="inputs">
          <input type="text" class="form-control" style="width: 90px;position: relative;right: 8px;">
          <input type="text" class="form-control" style="width: 160px;position: relative;right: 132px;"> 
          <select class="form-select form-select-sm" style="width: 100px;position: relative;right: 465px;padding-right: 30px;" aria-label=".form-select-sm example">
            <option selected></option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <select class="form-select form-select-sm" style="width: 100px;position: relative;right: 474px;padding-right: 30px;" aria-label=".form-select-sm example">
            <option selected></option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <input type="text" class="form-control" style="width: 100px;position: relative;right: 479px;"> 
          <select class="form-select form-select-sm" style="width: 300px;position: relative;right: 487px;padding-right: 30px;" aria-label=".form-select-sm example">
            <option selected></option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <input type="text" class="form-control" style="width: 100px;position: relative;right: 498px;"> 
          <input type="text" class="form-control" style="width: 100px;position: relative;right: 509px;">
          <input type="text" class="form-control" style="width: 100px;position: relative;right: 522px;">      
      </div>
      <div class="labels">
          <label class="form-label" style="position: relative; right: 5px;">م</label>
          <label class="form-label" style="position: relative; right: 11px;">رمز المنسق</label>
          <label class="form-label" style="position: relative; right: 43px;">نوع المادة</label>
          <label class="form-label" style="position: relative; right: 191px">وصف المادة</label>
          <label class="form-label" style="position: relative; right: 285px">الوحدة</label>
          <label class="form-label" style="position: relative; right: 291px">المصدر</label>
          <label class="form-label" style="position: relative; right: 293px;">الكمية</label>
          <label class="form-label" style="position: relative; right: 386px;">العمله</label>
          <label class="form-label" style="position: relative; right: 505px;">سعر التحويل</label>
          <label class="form-label" style="position: relative; right: 507px;">سعر الوحدة</label>
          <label class="form-label" style="position: relative; right: 520px;">إجمالي القيمة </label>
          <label class="form-label" style="position: relative; right: 527px;">حذف</label>
      </div>
      <div class="table-responsive-xxl">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          </thead>
          <tbody class="poi">
            <tr>
              <th>
                <input type="text" class="form-control" placeholder="1">
              </th>
              <th> 
                <input type="text" class="form-control" placeholder="514587">
              </th>          
              <th>
                <select class="form-select form-select-sm" style="width: 160px;padding: 5px 30px;" aria-label=".form-select-sm example">
                    <option selected>مواد أولية</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </th>
              <th>
                <input type="text" class="form-control" placeholder="PVC" style="width: 300px;">
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 100px;padding: 5px 30px;" aria-label=".form-select-sm example">
                    <option selected>كجم</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 100px;padding: 5px 30px;" aria-label=".form-select-sm example">
                  <option selected>اجنبي</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <input type="text" class="form-control" placeholder="20400">
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 300px;padding: 5px 30px;" aria-label=".form-select-sm example">
                  <option selected>الولايات المتحدة-دولار-USD</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <input type="text" class="form-control" placeholder="0.309">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="1.2">
              </th>
              <th style="text-align: center;padding: 28px;">
                457451.25
              </th>
              <th style="text-align: center;padding: 25px 0px;">
                <i class="fa fa-trash-o" style="font-size: 23px;"></i>
              </th>
            </tr>
            <tr>
                <th>
                  <input type="text" class="form-control" placeholder="2">
                </th>
                <th> 
                  <input type="text" class="form-control" placeholder="514587">
                </th>          
                <th>
                  <select class="form-select form-select-sm" style="width: 160px;padding: 5px 30px;" aria-label=".form-select-sm example">
                      <option selected>مواد أولية</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
              </th>
                <th>
                  <input type="text" class="form-control" placeholder="PVC" style="width: 300px;">
                </th>
                <th>
                  <select class="form-select form-select-sm" style="width: 100px;padding: 5px 30px;" aria-label=".form-select-sm example">
                      <option selected>كجم</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>              </th>
                <th>
                  <select class="form-select form-select-sm" style="width: 100px;padding: 5px 30px;" aria-label=".form-select-sm example">
                    <option selected>اجنبي</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </th>
                <th>
                  <input type="text" class="form-control" placeholder="20400">
                </th>
                <th>
                  <select class="form-select form-select-sm" style="width: 300px;padding: 5px 30px;" aria-label=".form-select-sm example">
                    <option selected>الولايات المتحدة-دولار-USD</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </th>
                <th>
                  <input type="text" class="form-control" placeholder="0.309">
                </th>
                <th>
                  <input type="text" class="form-control" placeholder="1.2">
                </th>
                <th style="text-align: center;padding: 28px;">
                  457451.25
                </th>
                <th style="text-align: center;padding: 25px 0px;">
                  <i class="fa fa-trash-o" style="font-size: 23px;"></i>
                </th>
              </tr>
              <tr>
                <th>
                  <input type="text" class="form-control" placeholder="3">
                </th>
                <th> 
                  <input type="text" class="form-control" placeholder="514587">
                </th>          
                <th>
                  <select class="form-select form-select-sm" style="width: 160px;padding: 5px 30px;" aria-label=".form-select-sm example">
                      <option selected>مواد أولية</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
              </th>
                <th>
                  <input type="text" class="form-control" placeholder="PVC" style="width: 300px;">
                </th>
                <th>
                  <select class="form-select form-select-sm" style="width: 100px;padding: 5px 30px;" aria-label=".form-select-sm example">
                      <option selected>كجم</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>              </th>
                <th>
                  <select class="form-select form-select-sm" style="width: 100px;padding: 5px 30px;" aria-label=".form-select-sm example">
                    <option selected>اجنبي</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </th>
                <th>
                  <input type="text" class="form-control" placeholder="20400">
                </th>
                <th>
                  <select class="form-select form-select-sm" style="width: 300px;padding: 5px 30px;" aria-label=".form-select-sm example">
                    <option selected>الولايات المتحدة-دولار-USD</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </th>
                <th>
                  <input type="text" class="form-control" placeholder="0.309">
                </th>
                <th>
                  <input type="text" class="form-control" placeholder="1.2">
                </th>
                <th style="text-align: center;padding: 28px;">
                  457451.25
                </th>
                <th style="text-align: center;padding: 25px 0px;">
                  <i class="fa fa-trash-o" style="font-size: 23px;"></i>
                </th>
              </tr>
              <tr>
                <th>
                  <input type="text" class="form-control" placeholder="4">
                </th>
                <th> 
                  <input type="text" class="form-control" placeholder="514587">
                </th>          
                <th>
                  <select class="form-select form-select-sm" style="width: 160px;padding: 5px 30px;" aria-label=".form-select-sm example">
                      <option selected>مواد أولية</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
              </th>
                <th>
                  <input type="text" class="form-control" placeholder="PVC" style="width: 300px;">
                </th>
                <th>
                  <select class="form-select form-select-sm" style="width: 100px;padding: 5px 30px;" aria-label=".form-select-sm example">
                      <option selected>كجم</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>              </th>
                <th>
                  <select class="form-select form-select-sm" style="width: 100px;padding: 5px 30px;" aria-label=".form-select-sm example">
                    <option selected>اجنبي</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </th>
                <th>
                  <input type="text" class="form-control" placeholder="20400">
                </th>
                <th>
                  <select class="form-select form-select-sm" style="width: 300px;padding: 5px 30px;" aria-label=".form-select-sm example">
                    <option selected>الولايات المتحدة-دولار-USD</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </th>
                <th>
                  <input type="text" class="form-control" placeholder="0.309">
                </th>
                <th>
                  <input type="text" class="form-control" placeholder="1.2">
                </th>
                <th style="text-align: center;padding: 28px;">
                  457451.25
                </th>
                <th style="text-align: center;padding: 25px 0px;">
                  <i class="fa fa-trash-o" style="font-size: 23px;"></i>
                </th>
              </tr>
              <tr>
                <th>
                  <input type="text" class="form-control" placeholder="5">
                </th>
                <th> 
                  <input type="text" class="form-control" placeholder="514587">
                </th>          
                <th>
                  <select class="form-select form-select-sm" style="width: 160px;padding: 5px 30px;" aria-label=".form-select-sm example">
                      <option selected>مواد أولية</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
              </th>
                <th>
                  <input type="text" class="form-control" placeholder="PVC" style="width: 300px;">
                </th>
                <th>
                  <select class="form-select form-select-sm" style="width: 100px;padding: 5px 30px;" aria-label=".form-select-sm example">
                      <option selected>كجم</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>              </th>
                <th>
                  <select class="form-select form-select-sm" style="width: 100px;padding: 5px 30px;" aria-label=".form-select-sm example">
                    <option selected>اجنبي</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </th>
                <th>
                  <input type="text" class="form-control" placeholder="20400">
                </th>
                <th>
                  <select class="form-select form-select-sm" style="width: 300px;padding: 5px 30px;" aria-label=".form-select-sm example">
                    <option selected>الولايات المتحدة-دولار-USD</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </th>
                <th>
                  <input type="text" class="form-control" placeholder="0.309">
                </th>
                <th>
                  <input type="text" class="form-control" placeholder="1.2">
                </th>
                <th style="text-align: center;padding: 28px;">
                  457451.25
                </th>
                <th style="text-align: center;padding: 25px 0px;">
                  <i class="fa fa-trash-o" style="font-size: 23px;"></i>
                </th>
              </tr>
          </tbody>
        </table>
      </div>
  </div>
</section>

                                         <!-- texts -->

<section class="texts" dir="rtl">
    <p style="width: 323px;">قيمة المواد اللازمة للأنتاج سيف الكويت</p>
    <p style="background-color: #888888a6;padding-right: 7px;border-radius: 5px;">252159.759 د.ك</p>
    <p style="margin-right: 50px;width: 385px;">إجمالي تكاليف المواد اللازمه للأنتاج</p>
    <p style="background-color: #888888a6;padding-right: 7px;border-radius: 5px">257202.954 د.ك</p>
    <br>
    <p style="width: 323px;">إجمالي قيمة المواد اللازمة للأنتاج المتوفره محليا</p>
    <p style="background-color: #888888a6;padding-right: 7px;border-radius: 5px">0 د.ك</p>
    <p style="margin-right: 125px;width: 385px;">القيمه الإجماليه لمواد التعبئة و التغليف</p>
    <p style="background-color: #888888a6;padding-right: 7px;border-radius: 5px">0 د.ك</p>
    <br>
    <p style="width: 323px;">مصاريف نقل و تخليص</p>
    <p style="background-color: #888888a6">5043.195 د.ك</p>
    <p style="margin-right: 73px;width: 385px;">نسبة المواد المحليه إلي إجمالي قيمة المواد اللازمه للأنتاج</p>
    <input type="text" name="" class="form-control" placeholder="0" style="margin-right:10px;text-align: center;background-color: #ffff005e;">
    <br>
    <p style="width: 323px">القيمة الإجماليه للمواد الأوليه</p>
    <p style="background-color: #888888a6">257202.954</p>
    <br>
    <label class="form-label">ملاحظات</label>
    <textarea name=""cols="120" rows="5"></textarea>
    <br>
    <button class="btn btn-success">حفظ</button>
</section>
<div class="clearfix"></div>