                                         <!-- head -->
<header class="head">
    <div class="container">
        <img class="logo" src="../../assets/images/unnamed.png" width="155px" height="40px" style="margin-top: 10px;" />
        <p class="text-head" dir="rtl">نظام الإجراءات الصناعيه </p>
    </div>
</header>

                                         <!-- content -->
<section class="content" dir="rtl">
      <div class="container">
          <div class="row">
            <div class="col-6 icon-r">
              <i class="fa fa-clipboard"></i>
              <p style="display: inline-block;">دراسات الجدوي</p>
            </div>
            <div class="col-6 icon-l">
              <p style="display: inline-block;font-size: 16px; color: #FFF; margin-left: 5px;">{{ myDate | date:'fullDate': '+1' :'ar-EG' }}</p>
              <span style="font-size:24px;">|</span>
              <i class="fa fa-sign-out poi" style="margin-right: 4px;"></i>
              <i class="fa fa-home poi"></i>
            </div>
          </div>
  </div>
</section>
<div class="clearfix"></div>

                                         <!-- content-2 -->

<section class="content-2" dir="rtl">
  <ul class="nav col-12 col-md-auto mb-2 justify-content-right mb-md-0">
    <li><a href="#" class="nav-link px-2 link-dark">المقدمه</a></li>
    <li><a routerLink="/general-information" class="nav-link px-2 link-dark">البيانات العامة من المنشأة الصناعية من واقع الطلب</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">الفهرس</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">الدراسة التسويقية</a></li>
    <div class="dropdown" style="margin-left: 6px;">
      <a class="btn dropdown-toggle link-dark" href="#" role="button" id="dropdownMenuLink" style="font-size: 14px;" data-bs-toggle="dropdown" aria-expanded="false">الدراسة الفنيه</a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="padding: 8px;">
        <li><a class="dropdown-item" routerLink="/proposed-project-equipment">معدات المشروع</a></li>
        <li><a class="dropdown-item" routerLink="/proposed-carrier">تابع الالات والمعدات</a></li>
        <li><a class="dropdown-item" routerLink="/proposed-manpower">العمالة اللازمة للأنتاج</a></li>
        <li><a class="dropdown-item" routerLink="/proposed-stock">المواد الأوليه اللازمة للأنتاج</a></li>
        <li><a class="dropdown-item" routerLink="/proposed-general-facility">منافع العامة</a></li>
      </ul>
    </div>
    <li><a href="#" class="nav-link px-2 link-dark dropdown-toggle">الدراسة الاقتصاديه</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">شاشة تحديث موافقه</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">مذكره طلب</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">الملاحظات التي تخص مركز الخدمة المتكامله</a></li>
    <li><i class="fa fa-chevron-left nav-link px-2 link-dark poi" style="font-size: 23px;"></i></li>
  </ul>

</section>

                                         <!-- article -->

<article dir="rtl">
    <div class="text-top">
        <p style="left: 20px; position: relative;">رقم الترخيص</p>
        <p style="left: 80px; position: relative;">تاريخ الطلب</p>
        <p style="left: 119px; position: relative;">اسم الإجراء</p>
        <p style="right: 39px; position: relative;">رقم الطلب</p>
        <p style="left: 11px; position: relative;">مقدم الطلب</p>
        <p style="right: 131px; position: relative;">حاله الطلب</p>
        <p style="right: 152px; position: relative;">رقم التليفون</p>
    </div>
    <div class="text-bottom">
        <p style="position: relative;left: 10px;">18013</p>
        <p>30/05/2021</p>
        <p>طلب الحصول علي موافقه إقامه منشاة صناعيه جديده</p>
        <p style="position: relative;left: 19px;">615028</p>
        <p style="position: relative;left: 10px;">شركه جرمان للأدوات الكهربائية والصحيه </p>
        <p style="right: 30px; position: relative;">تحت الدراسه</p>
        <p style="right: 98px; position: relative;">99750107</p>
    </div>
</article>