                                         <!-- table -->

<section class="tables" dir="rtl">
  <h3>معدات المشروع</h3>
  <div style="text-align: left;">
    <button class="btn btn-success">إدخال سجل جديد</button> 
    <button class="btn btn-success">تراجع</button>
  </div>
  <hr style="opacity: 0.1;margin-bottom: -10px;">
  <div class="tebles-inputs" style="overflow-x: scroll;">
      <i class="fa fa-search" style="position: relative;right: 190px;top: 26px;font-size: 18px;z-index: 2;color: #CCC;"></i>
      <div class="inputs">
          <input type="text" class="form-control" style="width: 90px;position: relative;right: 10px;">
          <input type="search" class="form-control" style="width: 90px;position: relative;right: 19px;">
          <input type="text" class="form-control" style="width: 200px;position: relative;right: 233px;">
          <input type="text" class="form-control" style="width: 90px;position: relative;right: 242px;">
          <select class="form-select form-select-sm" style="width: 100px; position: relative;right: 255px;padding-right: 30px;" aria-label=".form-select-sm example">
            <option selected></option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <select class="form-select form-select-sm" style="width: 152px;position: relative;right: 266px;padding-right: 30px;" aria-label=".form-select-sm example">
            <option selected></option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <input type="text" class="form-control" style="width: 95px;position: relative;right: 517px;">
          <input type="text" class="form-control" style="width: 95px;position: relative;right: 526px;">
          <select class="form-select form-select-sm" style="width: 100px;position: relative;right: 537px;padding-right: 30px;" aria-label=".form-select-sm example">
            <option selected></option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <input type="text" class="form-control" style="width: 73px;position: relative;right: 547px;">
          <input type="text" class="form-control" style="width: 95px;position: relative;right: 558px;"> 
          <input type="text" class="form-control" style="width: 95px;position: relative;right: 567px;">
          <input type="text" class="form-control" style="width: 95px;position: relative;right: 573px;">      
      </div>
      <div class="labels">
          <label class="form-label" style="position: relative; right: 19px;bottom: 11px;">م</label>
          <label class="form-label" style="position: relative; right: 49px;">رمز المنسق</label>
          <label class="form-label" style="position: relative; right: 117px;">وصف المنسق</label>
          <label class="form-label" style="position: relative; right: 249px">وصف المعدات</label>
          <label class="form-label" style="position: relative; right: 337px">رقم الموديل</label>
          <label class="form-label" style="position: relative; right: 369px">نوع المعدات</label>
          <label class="form-label" style="position: relative; right: 421px">تصنيف المعدات</label>
          <label class="form-label" style="position: relative; right: 484px;">المصدر</label>
          <label class="form-label" style="position: relative; right: 516px;">العمله</label>
          <label class="form-label" style="position: relative; right: 551px;">الكمية</label>
          <label class="form-label" style="position: relative; right: 585px;">الطاقة الإنتاجية</label>
          <label class="form-label" style="position: relative; right: 621px;">طريقة الحساب</label>
          <label class="form-label" style="position: relative; right: 652px;">قيمة النسبه</label>
          <label class="form-label" style="position: relative; right: 689px;">سعر العمله</label>
          <label class="form-label" style="position: relative; right: 721px;">سعر الوحده العملة</label>
          <label class="form-label" style="position: relative; right: 750px;">إجمالي القيمه</label>
          <label class="form-label" style="position: relative; right: 771px;">حذف</label>
      </div>
      <div class="table-responsive-xxl">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          </thead>
          <tbody class="poi">
            <tr>
              <th>
                <input type="text" class="form-control">
              </th>
              <th style="text-align: center;padding: 25px;"> 
                514587
              </th>          
              <th>
                <input type="search" class="form-control" style="width: 200px;" placeholder="الات وأجهزه أحر">
                <i class="fa fa-search" style="position: relative;bottom: 27px;right: 174px;font-size: 17px;color: #a7a2a2"></i>
              </th>
              <th>
                <input type="text" class="form-control" placeholder="powder Charger" style="width: 200px;">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="5ds421">
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 100px;padding: 4px 30px;" aria-label=".form-select-sm example">
                  <option selected>انتاجيه</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 152px;padding: 4px 30px;" aria-label=".form-select-sm example">
                  <option selected>الات ومعدات</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 100px;padding: 4px 30px;"  aria-label=".form-select-sm example">
                  <option selected>الصين</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 115px;padding: 4px 30px;" aria-label=".form-select-sm example">
                  <option selected>الولايات</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <input type="text" class="form-control" placeholder="1">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="1">
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 100px;padding: 4px 30px;" aria-label=".form-select-sm example">
                  <option selected>موب</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <input type="text" class="form-control"  placeholder="5">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="0.309">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="23000">
              </th>
              <th style="text-align: center;padding: 28px;">
                45745
              </th>
              <th style="text-align: center;padding: 25px 0px;">
                <i class="fa fa-trash-o" style="font-size: 23px;"></i>
              </th>
            </tr>
            <tr>
              <th>
                <input type="text" class="form-control">
              </th>
              <th style="text-align: center;padding: 25px;"> 
                514587
              </th>          
              <th>
                <input type="search" class="form-control" style="width: 200px;" placeholder="الات وأجهزه أحر">
                <i class="fa fa-search" style="position: relative;bottom: 27px;right: 174px;font-size: 17px;color: #a7a2a2"></i>
              </th>
              <th>
                <input type="text" class="form-control" placeholder="powder Charger" style="width: 200px;">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="5ds421">
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 100px;padding: 4px 30px;" aria-label=".form-select-sm example">
                  <option selected>انتاجيه</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 152px;padding: 4px 30px;" aria-label=".form-select-sm example">
                  <option selected>الات ومعدات</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 100px;padding: 4px 30px;"  aria-label=".form-select-sm example">
                  <option selected>الصين</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 115px;padding: 4px 30px;" aria-label=".form-select-sm example">
                  <option selected>الولايات</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <input type="text" class="form-control" placeholder="1">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="1">
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 100px;padding: 4px 30px;" aria-label=".form-select-sm example">
                  <option selected>موب</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <input type="text" class="form-control"  placeholder="5">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="0.309">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="23000">
              </th>
              <th style="text-align: center;padding: 28px;">
                45745
              </th>
              <th style="text-align: center;padding: 25px 0px;">
                <i class="fa fa-trash-o" style="font-size: 23px;"></i>
              </th>
            </tr>
            <tr>
              <th>
                <input type="text" class="form-control">
              </th>
              <th style="text-align: center;padding: 25px;"> 
                514587
              </th>          
              <th>
                <input type="search" class="form-control" style="width: 200px;" placeholder="الات وأجهزه أحر">
                <i class="fa fa-search" style="position: relative;bottom: 27px;right: 174px;font-size: 17px;color: #a7a2a2"></i>
              </th>
              <th>
                <input type="text" class="form-control" placeholder="powder Charger" style="width: 200px;">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="5ds421">
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 100px;padding: 4px 30px;" aria-label=".form-select-sm example">
                  <option selected>انتاجيه</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 152px;padding: 4px 30px;" aria-label=".form-select-sm example">
                  <option selected>الات ومعدات</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 100px;padding: 4px 30px;"  aria-label=".form-select-sm example">
                  <option selected>الصين</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 115px;padding: 4px 30px;" aria-label=".form-select-sm example">
                  <option selected>الولايات</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <input type="text" class="form-control" placeholder="1">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="1">
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 100px;padding: 4px 30px;" aria-label=".form-select-sm example">
                  <option selected>موب</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <input type="text" class="form-control"  placeholder="5">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="0.309">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="23000">
              </th>
              <th style="text-align: center;padding: 28px;">
                45745
              </th>
              <th style="text-align: center;padding: 25px 0px;">
                <i class="fa fa-trash-o" style="font-size: 23px;"></i>
              </th>
            </tr>
            <tr>
              <th>
                <input type="text" class="form-control">
              </th>
              <th style="text-align: center;padding: 25px;"> 
                514587
              </th>          
              <th>
                <input type="search" class="form-control" style="width: 200px;" placeholder="الات وأجهزه أحر">
                <i class="fa fa-search" style="position: relative;bottom: 27px;right: 174px;font-size: 17px;color: #a7a2a2"></i>
              </th>
              <th>
                <input type="text" class="form-control" placeholder="powder Charger" style="width: 200px;">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="5ds421">
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 100px;padding: 4px 30px;" aria-label=".form-select-sm example">
                  <option selected>انتاجيه</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 152px;padding: 4px 30px;" aria-label=".form-select-sm example">
                  <option selected>الات ومعدات</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 100px;padding: 4px 30px;"  aria-label=".form-select-sm example">
                  <option selected>الصين</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 115px;padding: 4px 30px;" aria-label=".form-select-sm example">
                  <option selected>الولايات</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <input type="text" class="form-control" placeholder="1">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="1">
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 100px;padding: 4px 30px;" aria-label=".form-select-sm example">
                  <option selected>موب</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <input type="text" class="form-control"  placeholder="5">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="0.309">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="23000">
              </th>
              <th style="text-align: center;padding: 28px;">
                45745
              </th>
              <th style="text-align: center;padding: 25px 0px;">
                <i class="fa fa-trash-o" style="font-size: 23px;"></i>
              </th>
            </tr>
            <tr>
              <th>
                <input type="text" class="form-control">
              </th>
              <th style="text-align: center;padding: 25px;"> 
                514587
              </th>          
              <th>
                <input type="search" class="form-control" style="width: 200px;" placeholder="الات وأجهزه أحر">
                <i class="fa fa-search" style="position: relative;bottom: 27px;right: 174px;font-size: 17px;color: #a7a2a2"></i>
              </th>
              <th>
                <input type="text" class="form-control" placeholder="powder Charger" style="width: 200px;">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="5ds421">
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 100px;padding: 4px 30px;" aria-label=".form-select-sm example">
                  <option selected>انتاجيه</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 152px;padding: 4px 30px;" aria-label=".form-select-sm example">
                  <option selected>الات ومعدات</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 100px;padding: 4px 30px;"  aria-label=".form-select-sm example">
                  <option selected>الصين</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 115px;padding: 4px 30px;" aria-label=".form-select-sm example">
                  <option selected>الولايات</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <input type="text" class="form-control" placeholder="1">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="1">
              </th>
              <th>
                <select class="form-select form-select-sm" style="width: 100px;padding: 4px 30px;" aria-label=".form-select-sm example">
                  <option selected>موب</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <input type="text" class="form-control"  placeholder="5">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="0.309">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="23000">
              </th>
              <th style="text-align: center;padding: 28px;">
                45745
              </th>
              <th style="text-align: center;padding: 25px 0px;">
                <i class="fa fa-trash-o" style="font-size: 23px;"></i>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</section>

                                         <!-- texts -->

<section class="texts" dir="rtl">
    <p style="width: 260px;">إجمالي قيمه المعدات المشتراه محليا</p>
    <p style=" background-color: #888888a6;padding-right: 7px;border-radius: 5px;">5 د.ك</p>
    <p style="width: 180px;margin-right: 78px;">مصاريف نقل و تخليص %5</p>
    <p>2045645.61</p>
    <br>
    <p style="width: 260px;">إجمالي قيمه المعدات المستورده فوب</p>
    <p>20456 د.ك</p>
    <input type="text" name="" class="form-control" placeholder="1022.5" style="margin-right: 287px;">
    <br>
    <p style="width: 260px;">رسم النقل</p>
    <input type="text" name="" class="form-control" placeholder="0">
    <p style="width: 180px;margin-right: 9px;">مصاريف تركيب و إشراف %7</p>
    <input type="text" name="" class="form-control" placeholder="1431.255">
    <br>
    <p style="width: 260px;">إجمالي قيمه المعدات سيف الكويت</p>
    <p style=" background-color: #888888a6;padding-right: 7px;border-radius: 5px;">20456 د.ك</p>
    <p style="background-color: #7c7c795e;margin-right: 282px;">25475252.24547</p>
    <br>
    <p style="width: 260px;">إجمالي تكاليف المعدات بعد التركيب</p>
    <p style=" background-color: #888888a6;padding-right: 7px;border-radius: 5px;">275252.24547</p>
    <p style="width: 180px;margin-right: 10px;">قيمة الخصم</p>
    <input type="text" name="" class="form-control" placeholder="0" style="background-color: #ffff005e;text-align: center;">
    <br>
    <label class="form-label">ملاحظات</label>
    <textarea name=""cols="120" rows="5"></textarea>
    <br>
    <button class="btn btn-success">حفظ</button>
</section>
<div class="clearfix"></div>