                                         <!-- table -->

<section class="tables" dir="rtl">
  <h3>العمالة اللازمه للأنتاج</h3>
  <div style="text-align: left;">
    <button class="btn btn-success">إدخال سجل جديد</button> 
    <button class="btn btn-success">تراجع</button>
  </div>
  <hr style="opacity: 0.1;margin-bottom: 18px;">
  <div class="tebles-inputs" style="overflow-x: scroll;">
      <div class="inputs">
          <select class="form-select form-select-sm" style="width: 200px; position: relative;right: 558px;padding-right: 30px;" aria-label=".form-select-sm example">
            <option selected></option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <select class="form-select form-select-sm" style="width: 200px;position: relative;right: 565px;padding-right: 30px;" aria-label=".form-select-sm example">
            <option selected></option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <select class="form-select form-select-sm" style="width: 175px;position: relative;right: 572px;padding-right: 30px;" aria-label=".form-select-sm example">
            <option selected></option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <input type="text" class="form-control" style="width: 100px;position: relative;right: 582px;"> 
          <input type="text" class="form-control" style="width: 100px;position: relative;right: 595px;">
          <input type="text" class="form-control" style="width: 140px;position: relative;right: 606px;">      
      </div>
      <div class="labels">
          <label class="form-label" style="position: relative; right: 8px;">رمز</label>
          <label class="form-label" style="position: relative; right: 155px;">المهنة</label>
          <label class="form-label" style="position: relative; right: 367px;">نوع العمل</label>
          <label class="form-label" style="position: relative; right: 470px">تصنيف العمالة</label>
          <label class="form-label" style="position: relative; right: 576px">الجنسية</label>
          <label class="form-label" style="position: relative; right: 629px">ذكور</label>
          <label class="form-label" style="position: relative; right: 636px">إناث</label>
          <label class="form-label" style="position: relative; right: 667px;">الأجر الشهري</label>
          <label class="form-label" style="position: relative; right: 677px;">إجمالي الأجور السنويه</label>
          <label class="form-label" style="position: relative; right: 672px;width: 50px;">حذف</label>
      </div>
      <div class="table-responsive-xxl">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          </thead>
          <tbody class="poi">
            <tr>
              <th>
                <input type="text" class="form-control" style="width:100px;">
              </th>
              <th>
                <input type="search" class="form-control" style="width: 421px;" placeholder="مراقب أنتاج">
                <i class="fa fa-search" style="position: relative;bottom: 29px;right: 396px;font-size: 19px;color: #a7a2a2"></i>
              </th>
              <th>
                <select class="form-select form-select-sm" style="padding: 8px 30px;width: 200px;" aria-label=".form-select-sm example">
                  <option selected>مباشر</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <select class="form-select form-select-sm" style="padding: 8px 30px;width: 200px;" aria-label=".form-select-sm example">
                  <option selected>الأنتاج</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <select class="form-select form-select-sm" style="padding: 8px 30px;width: 175px;"  aria-label=".form-select-sm example">
                  <option selected>كويتي</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <input type="text" class="form-control" placeholder="2" style="width: 100px;">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="1"style="width: 100px;">
              </th>
              <th>
                <input type="text" class="form-control"  placeholder="300"style="width: 140px;">
              </th>
              <th style="text-align: center;padding-top: 28px;">
                7200
              </th>
              <th style="text-align: center;padding: 28px 19px;">
                <i class="fa fa-trash-o" style="font-size: 23px;"></i>
              </th>
            </tr>
            <tr>
              <th>
                <input type="text" class="form-control" style="width:100px;">
              </th>
              <th>
                <input type="search" class="form-control" style="width: 421px;" placeholder="مراقب أنتاج">
                <i class="fa fa-search" style="position: relative;bottom: 29px;right: 396px;font-size: 19px;color: #a7a2a2"></i>
              </th>
              <th>
                <select class="form-select form-select-sm" style="padding: 8px 30px;width: 200px;" aria-label=".form-select-sm example">
                  <option selected>مباشر</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <select class="form-select form-select-sm" style="padding: 8px 30px;width: 200px;" aria-label=".form-select-sm example">
                  <option selected>الأنتاج</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <select class="form-select form-select-sm" style="padding: 8px 30px;width: 175px;"  aria-label=".form-select-sm example">
                  <option selected>كويتي</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <input type="text" class="form-control" placeholder="2" style="width: 100px;">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="1"style="width: 100px;">
              </th>
              <th>
                <input type="text" class="form-control"  placeholder="300"style="width: 140px;">
              </th>
              <th style="text-align: center;padding-top: 28px;">
                7200
              </th>
              <th style="text-align: center;padding: 28px 19px;">
                <i class="fa fa-trash-o" style="font-size: 23px;"></i>
              </th>
            </tr>
            <tr>
              <th>
                <input type="text" class="form-control" style="width:100px;">
              </th>
              <th>
                <input type="search" class="form-control" style="width: 421px;" placeholder="مراقب أنتاج">
                <i class="fa fa-search" style="position: relative;bottom: 29px;right: 396px;font-size: 19px;color: #a7a2a2"></i>
              </th>
              <th>
                <select class="form-select form-select-sm" style="padding: 8px 30px;width: 200px;" aria-label=".form-select-sm example">
                  <option selected>مباشر</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <select class="form-select form-select-sm" style="padding: 8px 30px;width: 200px;" aria-label=".form-select-sm example">
                  <option selected>الأنتاج</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <select class="form-select form-select-sm" style="padding: 8px 30px;width: 175px;"  aria-label=".form-select-sm example">
                  <option selected>كويتي</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <input type="text" class="form-control" placeholder="2" style="width: 100px;">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="1"style="width: 100px;">
              </th>
              <th>
                <input type="text" class="form-control"  placeholder="300"style="width: 140px;">
              </th>
              <th style="text-align: center;padding-top: 28px;">
                7200
              </th>
              <th style="text-align: center;padding: 28px 19px;">
                <i class="fa fa-trash-o" style="font-size: 23px;"></i>
              </th>
            </tr>
            <tr>
              <th>
                <input type="text" class="form-control" style="width:100px;">
              </th>
              <th>
                <input type="search" class="form-control" style="width: 421px;" placeholder="مراقب أنتاج">
                <i class="fa fa-search" style="position: relative;bottom: 29px;right: 396px;font-size: 19px;color: #a7a2a2"></i>
              </th>
              <th>
                <select class="form-select form-select-sm" style="padding: 8px 30px;width: 200px;" aria-label=".form-select-sm example">
                  <option selected>مباشر</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <select class="form-select form-select-sm" style="padding: 8px 30px;width: 200px;" aria-label=".form-select-sm example">
                  <option selected>الأنتاج</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <select class="form-select form-select-sm" style="padding: 8px 30px;width: 175px;"  aria-label=".form-select-sm example">
                  <option selected>كويتي</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </th>
              <th>
                <input type="text" class="form-control" placeholder="2" style="width: 100px;">
              </th>
              <th>
                <input type="text" class="form-control" placeholder="1"style="width: 100px;">
              </th>
              <th>
                <input type="text" class="form-control"  placeholder="300"style="width: 140px;">
              </th>
              <th style="text-align: center;padding: 28px;">
                7200
              </th>
              <th style="text-align: center;padding: 28px 19px;">
                <i class="fa fa-trash-o" style="font-size: 23px;"></i>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</section>

                                         <!-- texts -->

<section class="texts" dir="rtl">
    <p style="width: 233px;">إجمالي الأجور السنوية</p>
    <p style="background-color: #888888a6;padding-right: 7px;border-radius: 5px;">169.980 د.ك</p>
    <br>
    <p style="width: 233px;">إجمالي قيمه التكاليف السنوية</p>
    <p style="background-color: #888888a6;padding-right: 7px;border-radius: 5px;">186.978 د.ك</p>
    <br>
    <p style="width: 233px;">عدد العماله</p>
    <p style="background-color: #888888a6;padding-right: 7px;border-radius: 5px;">54</p>
    <br>
    <p style="width: 233px;">إجمالي أجور العماله المباشرة</p>
    <p style="background-color: #888888a6;padding-right: 7px;border-radius: 5px;">119.000 د.ك</p>
    <br>
    <p style="width: 233px;">إجمالي أجور العماله االغير مباشرة</p>
    <p style="background-color: #888888a6;padding-right: 7px;border-radius: 5px;">50.800 د.ك</p>
    <br>
    <label class="form-label">ملاحظات</label>
    <textarea name="" cols="120" rows="5"></textarea>
    <br>
    <button class="btn btn-success">حفظ</button>
</section>
<div class="clearfix"></div>