                                          <!-- inputs -->
 <section class="inputs" dir="rtl">
  <h3>بيانات عامة عن المنشأه الصناعية من واقع الطلب</h3>
    <form>
      <div class="form-group">
        <div class="box">
            <div class="box-input">
              <label class="form-label">الكيان القانوني:</label>
              <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>ذ.م.م</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>  
              <label class="form-label">ص.ب:</label>
              <input type="text" class="form-control">
              <label class="form-label">عدد ورديات العمل:</label>
              <input type="text" class="form-control">
              <label class="form-label">تقديرات القسيمه الصناعيه:</label>
              <input type="text" class="form-control">
              <label class="form-label">تسهيلات إنتمائيه من الموردين</label>
              <input type="text" class="form-control">
              <label class="form-label">قرض البنك الصناعي</label>
              <input type="text" class="form-control">  
              <label class="form-label">قروض من البنوك التجارية</label>
              <input type="text" class="form-control">
            </div>
            <div class="box-input">
            <label class="form-label">الجنسيه:</label>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option selected>كويتي</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <label class="form-label">هاتف:</label>
            <input type="text" class="form-control">
            <label class="form-label">البرنامج الزمني لتنفيذ المشروع:</label>
            <input type="text" class="form-control">
            <label class="form-label">جهة التعاون الفني:</label>
            <input type="text" class="form-control">  
            <label class="form-label"> % </label>
            <input type="text" class="form-control">
            <label class="form-label"> % </label>
            <input type="text" class="form-control">
            <label class="form-label"> % </label>
            <input type="text" class="form-control">
            </div>
            <div class="box-input">
            <label class="form-label">اسم المدير المسؤول:</label>
            <i class="fa fa-search" style="position: absolute;font-size: 27px;left: 125px;color: #CCC;"></i>
            <input type="search" class="form-control">
            <label class="form-label">القوي العامله بالمشروع:</label>
            <input type="text" class="form-control">
            <label class="form-label">رأس المال المدفوع</label>
            <input type="text" class="form-control">  
            <label class="form-label">إجمالي الإستمارات</label>
            <input type="text" class="form-control">
            <label class="form-label">رقم الترخيص:</label>
            <input type="text" class="form-control">
            </div>
            <div class="box-input">
            <button class="btn btn-success  btn-sm">إدخال سجل جديد</button>
            </div>
      </div>
      <div class="clearfix"></div>
      <hr>
      <div class="box-2">
          <div class="top">
            <p>كود الأيزك</p>
            <p>النشاط</p>
          </div>
          <div class="bottom">
            <i class="fa fa-search" style="position: relative;top: 2px;font-size: 22px;right: 490px;color: #CCC;"></i>
            <input type="search" class="form-control" placeholder="273360">
            <i class="fa fa-search" style="position: relative;top: 2px;font-size: 22px;right: 490px;color: #CCC;"></i>
            <input type="search" class="form-control" placeholder="صناعه المخارج والمقابس الكهربائية">
            <i class="fa fa-trash-o" style="margin-right: -21px;font-size: 28px;"></i>
          </div>
          <button class="btn btn-success btn-sm">حفظ</button>
      </div>
      <div class="clearfix"></div>
    </div>
    </form>
  </section>